*[data-icon]:before {
  font-size: var(--fontSizeML);
}

[data-icon="burger-menu"]:before {
  content: "\00C5";
  color: var(--MainText);
}

[data-icon="logo"]:before {
  content: "\00C3";
  font-size: var(--fontSizeL);
  font-weight: normal;
}

[data-icon="landing"]:before {
  content: "\00C4";
  font-size: calc(var(--fontSizeL) * 6);
}

[data-icon="facebook"]:before {
  content: "\00C0";
}

[data-icon="instagram"]:before {
  content: "\00C1";
}

[data-icon="linkedin"]:before {
  content: "\00C2";
}

[data-icon="border"]:before {
  content: "|";
}

[data-icon="brash"]:before {
  content: "\00A2";
}

[data-icon="phone"]:before {
  content: "\00A1";
}

[data-icon="email"]:before {
  content: "\00A3";
}

[data-icon="download"]:before {
  content: "\00C6";
}

[data-icon="behance"]:before {
  content: "\00C7";
}

@media (max-width: 1250px) {
  [data-icon="logo"]:before {
    font-size: calc(var(--fontSizeL) * 2);
  }
}
