body {
  margin: 0;
  background-color: var(--DarkColor);
  box-sizing: border-box;
}

#app {
  font-family: Gilroy, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--MainText);
  padding: 0;
  background-color: var(--DarkColor);
  background-image: url(../../../src/assets/background.svg);
  background-repeat: no-repeat;
}

.widthFitContent {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

a {
  color: var(--MainText);
}

.bgCover {
  background-size: cover !important;
}

.viewProject {
  display: flex;
  position: absolute;
  flex-direction: column;

  padding: 2em;
  margin-top: 5rem;
  margin-left: 40vw;
  padding-right: 5em;
  padding-left: 4em;
  background: var(--MediumColor);
  border-radius: 0.5em;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.router-link-exact-active {
  color: var(--LightColor);
}

.landingLogo {
  display: flex;
  height: 100vh;
  margin: auto;
  font-family: "Gilroy-Bold";
}

.visible {
  opacity: 1 !important;
}

.viewProject span {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2em;
}

.fade-in {
  animation: fadeIn ease-out 2s;
  -webkit-animation: fadeIn ease-out 2s;
  -moz-animation: fadeIn ease-out 2s;
  -o-animation: fadeIn ease-out 2s;
  -ms-animation: fadeIn ease-out 2s;
  opacity: 1 !important;
}

.fade-out {
  animation: fadeOut ease-out 2s;
  -webkit-animation: fadeOut ease-out 2s;
  -moz-animation: fadeOut ease-out 2s;
  -o-animation: fadeOut ease-out 2s;
  -ms-animation: fadeOut ease-out 2s;
  opacity: 0;
}

.btn-primary {
  margin: auto;
  background-color: var(--DarkColor);
  border-color: var(--DarkColor);
  border-radius: 2em;
  color: var(--LightColor);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing {
  display: flex;
  height: 100vh;
  background-color: var(--DarkColor);
  opacity: 0.7;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

.selected {
  color: var(--DarkColor) !important;
  background-color: var(--LightColor) !important;
}

.centerDelayed {
  -webkit-animation: slideIn 2s ease-in-out;
  animation: slideIn 2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 2s;
}

.lockScroll {
  overflow-y: hidden;
}

@media (max-width: 1250px) {
  #app {
    background-size: 100vw;
  }

  .navDestination {
    font-size: var(--fontSizeML);
  }

  .landingLogo {
    height: 70vh;
  }

  .centerDelayed {
    top: 30%;
  }

  .center {
    top: 40%;
  }

  .viewProject {
    padding-right: 2em;
    padding-left: 2em;
  }
}

@media (max-width: 768px) {
  .description {
    display: flex;
    flex-direction: column;
  }

  .navDestination {
    font-size: var(--fontSizeM);
  }
}

@media (max-width: 400px) {
  #app {
    background-size: 150vh;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideIn {
  0% {
    left: 30%;
  }

  100% {
    left: 50%;
  }
}

@keyframes slideIn {
  0% {
    left: 30%;
  }

  100% {
    left: 50%;
  }
}
